/* font-family: 'Open Sans', sans-serif;
font-family: 'Cardo', serif;
*/
body
{
    font-family: 'Raleway', sans-serif; 
    font-size: 14px;
    color:#6c7279;
    margin: 0;
}
*,
*:before,
*:after
{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6
{
    margin: 0;
    padding: 0;
}
.btn
{
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    color:#fff;
    background-color: #e84545;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: inherit;
    /* transition: linear .2s; */
}
.btn:hover
{
   
    background-color:#fff;
    color:#e84545;
    transform: scale(0.9);

}
.container
{
    /* border:1px solid red; */
    width: 100%;
    max-width:1170px;
    margin: 0 auto;
    padding: 0 15px;
    z-index: 2343;
}
.header
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 35px;
}
.header__inner
{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header__inner::after
{
    content:"";
    position: absolute;
    display: block;
    top:50px;
    left:0;
    height:1px;
    width: 100%;
    
    background-color: #555555;
}
.header__logo
{
    text-transform: uppercase;
    font-size: 30px;
    color:#66697e;
    font-weight: 900;
}
.header__logo span
{
    color:#fff;
    font-weight: normal;
}
.header__menu
{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.header__menu--item
{
    list-style: none;
    padding-left: 50px;
}
.header__menu--link
{
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.intro
{
    height: 100vh;
    width: 100%;
    background: url("/img/ActiveBox_03.jpg")  center no-repeat ;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}
.intro__inner
{
    width: 100%;
    max-width: 924px;
    margin: 0 auto;
    text-align: center;
    color:#fff;
}

.intro__title
{
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
 
}
.subtitle
{
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 80px;
    line-height: 33px;
}
.intro__btn
{
    padding: 15px 50px;
    
}
.section
{
    padding: 80px 0;
    border:1px soldi red;
}

.features
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.features__item
{
    /* border:1px solid #000; */
    width: 30%;
    margin-bottom: 60px;
    position: relative;
}
.features__title
{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color:#000;
    margin: 20px 0;
}
.features__text
{
    font-size: 14px;
    line-height: 21px;
    color:#6c7279;
}


.works
{
    /* border:1px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.works__item
{
    cursor: pointer;
    width: 25%;
    border:1px solid #fff;
    position: relative;
}
.works__item::after
{
    content:"";
    position: absolute;
    top:0;
    left:0;
    background-color: red;
    width: 100%;;
    height: 100%;
    transition: linear .7s;
    opacity: 0;
   
}
.works__item:hover.works__item::after
{
    opacity: 0.7;
    /* top:0; */
}
.works__item:hover .works__block
{
    opacity: 1;
}
.works__block
{
    text-align: center;
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:0;
    z-index: 2000;
    font-weight: bold;
    font-size: 14px;
    color:#fff;
    opacity: 0;
}
.block__title
{
    text-transform: uppercase;
    margin-bottom: 14px;
}
.works__item img
{
   display: block;
   width: 100%;
   z-index: -1;
}


.team
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.team__card
{
    width: 23.07%;
}
.card__img img
{
    width: 100%;
    display: block;
}
.card__title
{
    font-size: 22px;
    color:#2d3033;
    margin-top: 30px;
    margin-bottom: 13px;
}
.card__subtitle
{
    text-transform: uppercase;
    font-size: 13px;
    color:#e84545;
    margin-bottom: 20px;
}
.card__text
{
    color:#6c7279;
    line-height: 21px;
}

.clients
{
    margin-top: 60px;
    display: flex;
}
.clients__item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border:1px solid red; */
    background-color: #53354a;
    width: 50%;
}
.clients__item img
{
    width: 100%;
}
.clients__info
{
   
    padding-left: 85px;
    padding-right: 50px;
}
.clients___text
{
    font-family: 'Cardo', serif;
    font-style: italic;
    font-size: 36px;
    color:#fff;
    margin-bottom: 35px;
}
.clients__subtitle
{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color:#fff;
}

.download
{
    /* border:1px solid red; */
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    text-align: center;
}
.download__title
{
    font-weight: normal;
    font-size: 27px;
    color:#2d3033;
    margin-bottom: 30px;
}
.download__subtitle
{
    font-size: 13px;
    text-transform: uppercase;
    color:#2d3033;
    margin-bottom: 30px;
}
.download__btn
{
    padding: 15px 80px;
}
.download__btn:hover
{
   background-color: #53354a;
}

.footer
{
    background-color: #3a3e64;
}
.location__box
{
display: flex;
justify-content: flex-end;
}
.location
{
    /* border:1px solid black; */
    display: flex;
   justify-content: space-between;  
   padding: 70px 0 100px;
    width: 100%;
    max-width: 1020px;
    /* border:1px solid red; */
}
.location__item
{
    text-align: center; 
}
.location__title
{
    text-transform: uppercase;
    color:#fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.location__item--first
{
    width: 15.9%;
    /* border:1px solid #000; */
    /* margin-left: 220px; */
}
.location__item--second
{
    width: 53.8%
    /* border:1px solid #000; */
}
.location__item--3
{
    width: 38.37%;
    /* border:1px solid #000; */
    /* margin-right: 30px; */
}
.location__text{
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
}
.social__item
{
    display: inline-block;
    border:2px solid #fff;
    color:#fff;
    text-decoration: none;
    padding: 5px 11px;
    margin-left: 2px;
}
.bottom__text
{
    color:#555555;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 700;
    padding: 25px 0;
    text-align: center;
    background-color: #313454;
}
.bottom__text span
{
color:#fff;
}

@media (max-width:1170px)
{
    .team
    {
        /* width: 20%; */
    }
  
}
/* Планшет */
@media (max-width:990px)
{
    .intro__title
    {
        font-size: 54px;
    }
    .subtitle
    {
        font-size: 21px;
    }
    .features__item
    {
        width: 50%;
        /* border:1px solid red; */
        padding:0 10px;
    }
    .works__item
    {
        width: 33%;
    }
}
/* планшет портретная ориентация */
@media (max-width:770px)
{
    .intro__title
    {
        font-size: 43px;
    }
    .subtitle
    {
        font-size: 23px;
       
    }
    .header__menu
    {
        display: none;
    }
    .features
    {
        text-align: start;
    }
    .features__item
    {
        width: 100%;
        padding-left: 90px;
        position: relative;
        /* border:1px solid red; */
    }
    .features__img
    {
        position: absolute;
        width: 100%;
        display: block;
        top:0;
        left: 0;
    }
    .features__title
    {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .works__item
    {
        width: 50%;
    }
    .team__card
    {
        width: 49%;
        border:1px solid red;
    }
}

/* для мобилок */
@media (max-width:575px)
{
    .intro__title
    {
        font-size: 24px;
    }
    .subtitle
    {
        font-size: 15px;
        line-height: 22px;
    }
    .features__item
    {
        margin-bottom: 35px;
    }
    .works__item
    {
        width: 100%;
    }
    .team__card
    {
        width: 100%;
        margin-bottom: 10px;
    }
}
